<main>
                <div class="comments-section mx-5 my-5">
                    <h1 class="title has-text-centered is-size-1">Comments feed</h1>
                    <div class="my-5">
                    <form name="commentfeed" action="/createComment" method="POST" onsubmit="return validateForm()">
                            <div class="field text-is-centered">
                                <label class="label ">Name</label>
                                <div class="control">
                                    <input class="input is-dark" type="text" placeholder="Name" name="name" >
                                </div>
                            </div>
                            <div class="field">
                                <label class="label"></label>
                                <div class="control">
                                    <textarea class="textarea is-dark" placeholder="Leave a comment" name="message" ></textarea>
                                </div>
                            </div>
                            <div class="control mb-5 has-text-centered">
                                <button class="button drop-shadows">Comment</button>
                            </div>

                            {{!-- notifications --}}
                           <div id="unsuccessful" class="notification is-danger" style="display: none;">
                                <button class="delete"></button>
                                    Comment was unsuccessful
                            </div>
 
                            <div id="successful" class="notification is-success" style="display: none;">
                                <button class="delete"></button>
                                    Comment was successful
                            </div>
                        </form>
                    </div>
                   
                {{#each userComment}}
                    {{> comment}}
                {{/each}}
            </div>
                    <form action="/deleteComments?_method=DELETE" method="POST">
                         <div class="control mb-5 has-text-centered">
                                <button class="button drop-shadows">Delete All Comments</button>
                            </div>
                    </form>

        </main>