
<div class="card my-5 drop-shadows">
    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <p>
                 {{#if message}}
                    {{ message }}
                  {{/if}}    
                  </p>
            </div>
        </div>

        <div class="content">
            <h5>{{#if name}}{{ name }}{{/if}} on Thursday at 5pm</h5>
        </div>
    </div>
</div>

